<ion-content>
  <ion-list>
    <ion-list-header>
      Destinos turisticos
    </ion-list-header>
    <ion-item-sliding *ngFor="let imagen of imagenes | async">
      <ion-item >
 
          <h2>{{imagen.ciudad}}</h2>
          <h3>{{imagen.nombre}}</h3>
          <p>{{imagen.numHabitantes}}</p>
          <p>{{imagen.pais}}</p>
          <p>{{imagen.popularidad}}</p>
          <div class = "container">
            <img src={{imagen.link}} alt="">
          </div>
      </ion-item>
    </ion-item-sliding>
</ion-list>
</ion-content>
